.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(241, 172, 255);
}

.meal h3 {
  margin: 0 0 0.25rem 0;
    font-weight: bold;
  color: #ffffff;
}

.description {
  font-style: italic;

  color: #ffffff;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #f8c7f8f8;
  font-size: 1.25rem;
}
